h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #ffffff;
	color: #212121;
	padding: 2.5rem;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 1.3rem;
	max-width: 480px;
}

a:link, a:visited, a:hover, a:active {
	color: #212121;
}

ul {
	padding-left: 1.8em
}

header {
	font-weight: bold;
	margin-bottom: 6rem;
}
header a:link, a:visited, a:active {
	text-decoration: none;
}
header a:hover {
	text-decoration: underline;
}

h2, h3 {
	margin-top: 3rem;
}
